@import "../../../sass/global_mixins";
@import "../../../sass/global_variables";

:host {
    @include board-card;

    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 12px;
    position: relative;
    text-decoration: none;
    z-index: 0;

    &:hover {
        background-color: rgb(246 250 255);
        box-shadow: 0 3px 6px rgb(0 0 0 / 10%);

        .list-card__actions {
            opacity: 1;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.list-card {
    &__name {
        display: flex;
        flex-grow: 1;
        font-size: 13px;
        font-weight: 600;
        color: #273e64;
    }

    &__actions {
        display: flex;
        justify-content: center;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }

    &__text {
        flex-grow: 1;
        line-height: 1.6;
    }
}
