@import "../../../sass/global_mixins";
@import "../../../sass/global_variables";

:host {
  @include board-card;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 12px;
  position: relative;
  text-decoration: none;
  z-index: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.list-card {
  &__name {
    flex-grow: 1;
    font-size: 13px;
    font-weight: 600;
    color: #273e64;
  }
}
