@import "sass/global_variables";

:host,
.rokllo {
    display: block;
    height: 100%;
    color: $color__white--20;
}

.rokllo {
    display: flex;
    flex-direction: column-reverse;
    background-color: #e3e3e3;

    /* &__background {
        position: absolute;
        inset: 0;
        background: #FC5C7D;
        background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
        background: linear-gradient(to right, #6A82FB, #FC5C7D);
        opacity: 0.1;
        filter: blur(50px);
    } */

    &__wrapper {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        padding-top: 50px;
        box-sizing: border-box;
    }
}
