@mixin text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin board-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    min-height: 20px;
    position: relative;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
}

@mixin add-new-segment {
    &__add-new {
        display: flex;
        align-items: center;
        width: 300px;
        margin: 0 10px 10px;
        padding: 5px;
        cursor: pointer;
        font-size: 13px;
        border-radius: 4px;
        transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
        color: $color__white--50;

        &:hover {
            color: $color__blue--darker;
            background-color: rgb(0 0 0 / 7.5%);

            .board-page__add-new-text .board-page__add-new-icon {
                color: $color__blue--darker;
            }
        }
    }

    &__add-new-icon {
        margin-right: 5px;
        font-size: 18px;
    }

    &__add-new-input {
        margin: 0 10px 10px;
    }

    &__add-new-textarea {
        @include board-card;
        padding: 0;

        textarea {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            padding: 10px;
            box-sizing: border-box;
            background-color: transparent;
            border-radius: 3px;
            border: 1px solid #fff;
            outline: none;
            font-family: "Archivo", sans-serif;
            transition: border 150ms ease-in-out;

            &:focus {
                border: 1px solid $color__blue--primary;
            }
        }
    }

    &__add-new-action {
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    &__add-new-button {
        @include button--primary;

        margin-right: 10px;
    }
}

@mixin button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    min-height: 20px;
    position: relative;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}

@mixin button--primary {
    @include button;

    background-color: $color__blue--primary;
    color: #fff;

    &:hover {
        background-color: $color__blue--dark;
    }
}
