@import './global_mixins';
@import './global_fonts';

$grid__unit: 4px;

// Font sizes
$font__size--xxl: 30 * $grid__unit;
$font__size--xl: 16 * $grid__unit;
$font__size--l: 13 * $grid__unit;
$font__size--m: 11 * $grid__unit;
$font__size--n: 9 * $grid__unit;
$font__size--s: 8 * $grid__unit;
$font__size--ms: 7 * $grid__unit;
$font__size--xs: 5.5 * $grid__unit;

// Icon sizes
$icon-size__xs: 9 * $grid__unit;
$icon-size__s: 12 * $grid__unit;
$icon-size__m: 16 * $grid__unit;
$icon-size__l: 20 * $grid__unit;
$icon-size__xl: 24 * $grid__unit;
$icon-size__xxl: 30 * $grid__unit;

// Grey colors
$color__white--100: #fff;
$color__white--90: #e6e6e6;
$color__white--80: #ccc;
$color__white--70: #b3b3b3;
$color__white--60: #999;
$color__white--53: #888888;
$color__white--50: #808080;
$color__white--40: #666;
$color__white--30: #4d4d4d;
$color__white--28: #474747;
$color__white--20: #333;
$color__white--15: #252525;
$color__white--10: #1a1a1a;

// Base colors
$color__blue--primary: #0065ff;
$color__blue--dark: #004bbd;
$color__blue--darker: #003688;
$color__blue--darkest: #002357;
$color__blue--light: #3887ff;
$color__blue--lighter: #76adff;
$color__blue--lightest: #a3c8ff;

$color__blue-grey--dark: #EEF0F5;
$color__blue-grey--light: #FAFAFC;

$color__pink--primary: #D93362;
$color__pink--darker: #B50048;

// Primary colors
$color__primary: $color__blue--primary;

$color-brand-secondary: #c5dcff;
$color-brand-tertiary: #f64e00;
$color-text-primary: #222222;
$color-text-inverted: #ffffff;

$color__backdrop: rgba(0, 4, 60, 0.4);
$color__default-shadow: rgba(38, 42, 77, .3);
