@import "./global_mixins";
@import "./global_fonts";

// Grey colors
$color__white--100: #fff;
$color__white--90: #e6e6e6;
$color__white--80: #ccc;
$color__white--70: #b3b3b3;
$color__white--60: #999;
$color__white--53: #888;
$color__white--50: #808080;
$color__white--40: #666;
$color__white--30: #4d4d4d;
$color__white--28: #474747;
$color__white--20: #333;
$color__white--15: #252525;
$color__white--10: #1a1a1a;

// Base colors
$color__blue--primary: #0065ff;
$color__blue--dark: #004bbd;
$color__blue--darker: #003688;
$color__blue--darkest: #002357;
$color__blue--light: #3887ff;
$color__blue--lighter: #76adff;
$color__blue--lightest: #a3c8ff;
$color__blue-grey--dark: #eef0f5;
$color__blue-grey--light: #fafafc;
$color__pink--primary: #d93362;
$color__pink--darker: #b50048;

// Primary colors
$color__primary: $color__blue--primary;
