@import "../../../sass/global_mixins";
@import "../../../sass/global_variables";

:host {
    display: block;
    height: 100%;
}

.board-page {
    display: flex;
    height: 100%;

    @include add-new-segment;

    &__image {
        position: fixed;
        inset: 0;
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
    }

    &__content {
        display: flex;
        height: 100%;
        padding: 15px 15px 30px;
        box-sizing: border-box;
    }

    &__list {
        display: flex;
    }

    &__list-title {
        width: 100%;
        padding: 10px;
    }

    &__list-item {
        &.cdk-drag-preview {
            transform: rotate(20deg);
        }
    }

    &__add-new {
        display: flex;
        align-items: center;
        position: relative;
        width: 300px;
        height: 38px;
        margin-left: 15px;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
        background-color: rgb(255 255 255 / 30%);
        background-position: center;
        background-size: cover;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
        color: #fff;
        font-weight: 600;
        transition: background-color 150ms ease-in-out;

        &:hover {
            background-color: rgb(255 255 255 / 80%);
            color: $color__blue--darker;
        }
    }

    &__ad-new-action {
        position: relative;
    }

    &__add-new-text {
        @include text-truncate;

        flex-grow: 1;
        font-size: 14px;
        color: #fff;
    }

    &__add-new-icon {
        margin-right: 5px;
        font-size: 20px;
        color: #fff;
    }

    &__add-new-input {
        width: 300px;
        margin: 0 15px 15px;
    }

    &__add-new-cancel {
        span {
            color: #fff;
        }
    }

    &__list-placeholder {
        width: 300px;
        margin-right: 15px;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
}

.cdk-drop-list-dragging .board-page__list-item:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
